node_modules/
.env
.DS_Store
deployment.log

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.pnp.cjs
.pnp.loader.mjs

# Yarn Berry (Yarn 2+)
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn.lock

# testing
/coverage

# next.js
/.next/
/out/
client/.next/
client/out/

# production
/build
client/build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.local.db
.env.production
.env.remote
.env.development
client/.env.local
client/.env.production
client/.env.development

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

sh
elysia-server/index

tmp